@import '../variables.scss';

.Instrument {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0;
  padding: 10px 0;
}

.Instrument--0 h2{
  color: $magenta-light;
}

.Instrument--1 h2{
  color: $gold-light;
}

.Instrument--2 h2{
  color: $teal-light;
}

.Instrument--3 h2{
  color: $green-light;
}

.Instrument__notes-list {
  display: block;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.Instrument__controls {
  align-items: center;
  display: flex;
  width: 100%;
}

.Instrument__controls h2 {
  margin: 0;
}

.Instrument__volume-controls {
  /* Need to set width for custom slider */
  width: 100%;
}

.Instrument__volume-range {
  display: flex;
  width: 80%;
}

.Instrument__volume-range input {
  width: 60px;
}

.Instrument ul {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.Instrument__volume-button-text {
  position: absolute;
  transform: translateX(100vw);
}

.Instrument__volume-controls button {
  background: $darkgrey;
  border: none;
  border-radius: 13px;
  color: $white;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 14px;
  height: 26px;
  outline: none; /* replaced with boxshadow */
  overflow: hidden;
  width: 26px;
}

.Instrument__volume:hover,
.Instrument__volume:focus{
  box-shadow: 0 0 10px $gold-light;
  color: $gold-light;
}

.Instrument__mute:hover,
.Instrument__mute:focus,
.Instrument__mute--muted {
  box-shadow: 0 0 10px #db5461;
  color: #db5461;
}


/* Customizing Range */
/* Following:  https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */

/* NEED TO FIX FOCUS FOR ACCESSIBILITIY!!!!!!! */

/* input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
} */

@media (min-width: 650px) {
  .Instrument {
    flex-direction: row;
  }

  .Instrument__controls {
    padding-right: 10px;
    width: 25%;
  }

  .Instrument__notes-list {
    width: inherit;
  }

  .Instrument__controls {
    align-items: flex-start;
    flex-direction: column;
  }
}