@import '../variables.scss';

.Instrument {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0;
  padding: 10px 0;
}

.Instrument__title {
  flex-grow: 1;
  margin: 0;
}

.Instrument--0 .Instrument__title {
  color: #DB3DB4; /* Need to increase lightness for enough contrast */
}

.Instrument--1 .Instrument__title {
  color: $gold-light;
}

.Instrument--2 .Instrument__title {
  color: $teal-light;
}

.Instrument--3 .Instrument__title {
  color: $green-light;
}

.Instrument__details {
  align-items: center;
  display: flex;
  width: 100%;
}

@media (min-width: 800px) {
  .Instrument {
    flex-direction: row;
  }

  .Instrument__details {
    align-items: flex-start;
    flex-direction: column;
    padding-right: 10px;
    width: 25%;
  }
}