@import '../../styles/variables.scss';

.Sequence {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0;
  padding: 10px 0;
}

.title {
  flex-grow: 1;
  margin: 0;
}

.Sequencemagenta .title,
.Sequencemagenta .select {
  color: #DB3DB4; /* Need to increase lightness for enough contrast */
}

.Sequencemagenta .select {
  border-color: #DB3DB4; /* Need to increase lightness for enough contrast */
}

.Sequencegold .title,
.Sequencegold .select {
  color: $gold-light;
}

.Sequencegold .select {
  border-color: $gold-light;
}

.Sequenceteal .title,
.Sequenceteal .select {
  color: $teal-light;
}

.Sequenceteal .select {
  border-color: $teal-light;
}

.Sequencegreen .title,
.Sequencegreen .select {
  color: $green-light;
}

.Sequencegreen .select {
  border-color: $green-light;
}

.select {
  background: rgba(0, 0, 0, 0);
  color: $blackgrey;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
}

.select option {
  font-size: 10px;
}

.label {
  color: white;
  position: absolute;
  transform: translateX(100vw);
  /* Buttons use an icon visually, pushing text off screen */
}

.details {
  align-items: center;
  display: flex;
  width: 100%;
}

@media (min-width: 800px) {
  .Sequence {
    flex-direction: row;
  }

  .details {
    align-items: flex-start;
    flex-direction: column;
    padding-right: 10px;
    width: 25%;
  }
}