@import '../variables.scss';

.Header {
  align-items: center;
  background-color: $blackgrey;
  color: $white;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  padding: 0 10px;
}

.Header__title {
  font-size: 1.5em;
  margin: 10px auto;
}

.Header__controls-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 100%;
}

.Header__button {
  background: rgb(55, 55, 55);
  border: 1px solid rgb(55, 55, 55);
  border-radius: 2px;
  color: $white;
  cursor: pointer;
  font-size: 18px;
  margin: 0 4px;
  outline: none; /* replaced with boxshadow */
  padding: 2px 10px;
}

.Header__button--play:hover,
.Header__button--play:focus{
  box-shadow: 0 0 10px $gold-light;
  color: $gold-light;
}

.Header__button--stop:hover,
.Header__button--stop:focus {
  box-shadow: 0 0 10px $red;
  color: $red;
}

.Header__button-text {
  position: absolute;
  transform: translateX(100vw);
  /* Buttons use an icon visually, pushing text off screen */
}

.Header input:focus,
.Header input:hover,
.Header select:focus,
.Header select:hover {
  box-shadow: 0 0 10px $gold-light;
  background: $gold-light;
}

.Header input {
  background: $white;
  border: none;
  border-radius: 2px;
  color: $blackgrey;
  font-size: 14px;
  margin-right: 5px;
  text-align: center;
  width: 80px;
}

.Header select {
  background: $white;
  border: none;
  color: $blackgrey;
  font-size: 14px;
  margin-left: 20px;
}

@media (min-width: 430px) {
  .Header__controls-container {
    width: 80%;
  }
}

@media (min-width: 650px) {
  .Header {
    flex-direction: row;
    height: 70px;
  }

  .Header__title {
    font-size: 2em;
    margin: 20px 0;
  }

  .Header__controls-container {
    justify-content: space-between;
    margin: 0;
    width: inherit;
  }

  .Header__button-container {
    margin-right: 50px;
  }
}

