@import '../../styles/variables.scss';

.Beat {
  border-radius: 5px;
  cursor: pointer;
  flex-grow: 1;
  height: 80%;
  margin: 1px;
  min-height: 35px;
  padding: 0;
  position: relative;
  text-align: center;
  transition: all .2s linear;
}

.button {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all .2s linear;
  width: 100%;
}

.button span {
  /* Next added to the note buttons for accessibility, */
  /* However, it's not wanted visually so hiding the text */
  color: white;
  position: absolute;
  transform: translateX(100vw);
  /* Buttons use an icon visually, pushing text off screen */
}

.current {
  background-color: $white;
  border: 2px solid $white;
  box-shadow: 0 0 10px $white;
}

.button:focus {
  box-shadow: 0 0 10px $mediumgrey;
}

.button.selected:hover {
  opacity: 0.8;
}

.buttonmagenta {
  background-color: $magenta-dark;
  color: $magenta-dark;
}

.buttonmagenta:hover {
  background-image: radial-gradient($magenta-light-transparent 0%,$magenta-dark 100%);
}

.buttonmagenta.selected {
  background-image: radial-gradient($magenta-light 10%,$magenta-light-transparent 100%);
}

.buttongold {
  background-color: $gold-dark;
}

.buttongold:hover {
  background-image: radial-gradient($gold-light-transparent 0%, $gold-dark 100%);
}

.buttongold.selected {
  background-image: radial-gradient($gold-light 10%, $gold-light-transparent 100%);
}

.buttonteal {
  background-color: $teal-dark;
}

.buttonteal:hover {
  background-image: radial-gradient($teal-light-transparent 0%, $teal-dark 100%);
}

.buttonteal.selected {
  background-image: radial-gradient($teal-light 10%, $teal-light-transparent 100%);
}

.buttongreen {
  background-color: $green-dark;
}

.buttongreen:hover {
  background-image: radial-gradient($green-light-transparent 0%, $green-dark 100%);
}

.buttongreen.selected {
  background-image: radial-gradient($green-light 10%, $green-light-transparent 100%);
}

.buttonblue {
  background-color: $blue-dark;
}

.buttonblue:hover {
  background-image: radial-gradient($blue-light-transparent 0%, $blue-dark 100%);
}

.buttonblue.selected {
  background-image: radial-gradient($blue-light 10%, $blue-light-transparent 100%);
}

.buttoncherry {
  background-color: $cherry-dark;
}

.buttoncherry:hover {
  background-image: radial-gradient($cherry-light-transparent 0%, $cherry-dark 100%);
}

.buttoncherry.selected {
  background-image: radial-gradient($cherry-light 10%, $cherry-light-transparent 100%);
}

.buttonorange {
  background-color: $orange-dark;
}

.buttonorange:hover {
  background-image: radial-gradient($orange-light-transparent 0%, $orange-dark 100%);
}

.buttonorange.selected {
  background-image: radial-gradient($orange-light 10%, $orange-light-transparent 100%);
}

.buttonpurple {
  background-color: $purple-dark;
}

.buttonpurple:hover {
  background-image: radial-gradient($purple-light-transparent 0%, $purple-dark 100%);
}

.buttonpurple.selected {
  background-image: radial-gradient($purple-light 10%, $purple-light-transparent 100%);
}

@media (min-width: 800px) {
  .Beat {
    min-height: 60px;
  }
}