@import '../../styles/variables.scss';

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  overflow: hidden;
}

#root {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  background-color: $charcoal;
  color: white;
  font-family: Roboto, sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  overflow: hidden;
  width: 100vw;
}