* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
}

.current {
  background-color: rgba(255, 255, 0, 0.5);
  color: purple;
  font-weight: bold;
}

.Instrument ul {
  display: flex;
}