@import "../variables.scss";

.VolumeAdjuster {
  display: flex;
  justify-content: flex-end;
}

.VolumeAdjuster__list {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 800px) {

  .VolumeAdjuster__details {
    align-items: flex-start;
    flex-direction: column;
    padding-right: 10px;
    width: 25%;
  }

  .VolumeAdjuster__list {
    flex-grow: 1;
    width: 100%;
  }

  .VolumeAdjuster {
    justify-content: flex-start;
    width: 80%;
  }

}