@import '../variables.scss';

.Note {
  border-radius: 5px;
  cursor: pointer;
  flex-grow: 1;
  height: 80%;
  margin: 1px;
  min-height: 35px;
  padding: 0;
  position: relative;
  text-align: center;
  transition: all .2s linear;
}

.button {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all .2s linear;
  width: 100%;
}

.button span {
  /* Next added to the note buttons for accessibility, */
  /* However, it's not wanted visually so hiding the text */
  color: white;
  position: absolute;
  transform: translateX(100vw);
  /* Buttons use an icon visually, pushing text off screen */
}

.current {
  background-color: $white;
  border: 2px solid $white;
  box-shadow: 0 0 10px $white;
}

.button:focus {
  box-shadow: 0 0 10px $mediumgrey;
}

.button.selected:hover {
  opacity: 0.8;
}

.button0 {
  background-color: $magenta-dark;
  color: $magenta-dark;
}

.button0:hover {
  background-image: radial-gradient($magenta-light-transparent 0%,$magenta-dark 100%);
}

.button0.selected {
  background-image: radial-gradient($magenta-light 10%,$magenta-light-transparent 100%);
}

.button1 {
  background-color: $gold-dark;
}

.button1:hover {
  background-image: radial-gradient($gold-light-transparent 0%, $gold-dark 100%);
}

.button1.selected {
  background-image: radial-gradient($gold-light 10%, $gold-light-transparent 100%);
}

.button2 {
  background-color: $teal-dark;
}

.button2:hover {
  background-image: radial-gradient($teal-light-transparent 0%, $teal-dark 100%);
}

.button2.selected {
  background-image: radial-gradient($teal-light 10%, $teal-light-transparent 100%);
}

.button3 {
  background-color: $green-dark;
}

.button3:hover {
  background-image: radial-gradient($green-light-transparent 0%, $green-dark 100%);
}

.button3.selected {
  background-image: radial-gradient($green-light 10%, $green-light-transparent 100%);
}

@media (min-width: 800px) {
  .Note {
    min-height: 60px;
  }
}