.Note {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  flex-grow: 1;
  height: 40px;
  margin: 1px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  transition: all .2s linear;
}

.current {
  background-color: #Dee5e5;
  border: 2px solid #Dee5e5;
  box-shadow: 0 0 10px #Dee5e5;
}

.Instrument--0 .Note {
  background-color: rgb(80, 30, 70);
  color: rgb(80, 30, 70);
}

.Instrument--0 .Note.selected,
.Instrument--0 .Note:hover,
.Instrument--0 .Note:focus {
  background-image: radial-gradient(rgba(215, 40, 170, 1) 10%,rgba(215, 40, 170, .8) 100%);
  color: rgb(215, 40, 170);
}

.Instrument--1 .Note {
  background-color: rgb(65, 45, 15);
  color: rgb(65, 45, 15);
}

.Instrument--1 .Note.selected,
.Instrument--1 .Note:hover,
.Instrument--1 .Note:focus {
  background-image: radial-gradient(rgba(215, 155, 50, 1) 10%, rgba(215, 155, 50, .8) 100%);
  color: rgb(215, 155, 50);
}

.Instrument--2 .Note {
  background-color: rgb(12, 60, 60);
  color: rgb(12, 60, 60);
}

.Instrument--2 .Note.selected,
.Instrument--2 .Note:hover,
.Instrument--2 .Note:focus {
  background-image: radial-gradient(rgba(45, 200, 200, 1) 10%, rgba(45, 200, 200, .8) 100%);
  color: rgb(45, 200, 200);
}

.Instrument--3 .Note {
  background-color: rgb(25, 60, 30);
  color: rgb(25, 60, 30);
}

.Instrument--3 .Note.selected,
.Instrument--3 .Note:hover,
.Instrument--3 .Note:focus {
  background-image: radial-gradient(rgba(50, 205, 55, 1) 10%, rgba(50, 205, 55, .8) 100%);
  color: rgb(50, 205, 55);
}