@import '../variables.scss';

.Note {
  border-radius: 5px;
  cursor: pointer;
  flex-grow: 1;
  height: 80%;
  margin: 1px;
  min-height: 35px;
  padding: 0;
  position: relative;
  text-align: center;
  transition: all .2s linear;
}

.Note__button {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all .2s linear;
  width: 100%;
}

.Note__button span {
  /* Next added to the note buttons for accessibility, */
  /* However, it's not wanted visually so hiding the text */
  color: rgba(0, 0, 0, 0);
}

.current {
  background-color: $white;
  border: 2px solid $white;
  box-shadow: 0 0 10px $white;
}

.Instrument--0 .Note__button {
  background-color: $magenta-dark;
  color: $magenta-dark;
}

.Instrument--0 .Note__button.selected,
.Instrument--0 .Note__button:hover,
.Instrument--0 .Note__button:focus {
  background-image: radial-gradient($magenta-light 10%,$magenta-light-transparent 100%);
}

.Instrument--1 .Note__button {
  background-color: $gold-dark;
}

.Instrument--1 .Note__button.selected,
.Instrument--1 .Note__button:hover,
.Instrument--1 .Note__button:focus {
  background-image: radial-gradient($gold-light 10%, $gold-light-transparent 100%);
}

.Instrument--2 .Note__button {
  background-color: $teal-dark;
}

.Instrument--2 .Note__button.selected,
.Instrument--2 .Note__button:hover,
.Instrument--2 .Note__button:focus {
  background-image: radial-gradient($teal-light 10%, $teal-light-transparent 100%);
}

.Instrument--3 .Note__button {
  background-color: $green-dark;
}

.Instrument--3 .Note__button.selected,
.Instrument--3 .Note__button:hover,
.Instrument--3 .Note__button:focus {
  background-image: radial-gradient($green-light 10%, $green-light-transparent 100%);
}

@media (min-width: 800px) {
  .Note {
    min-height: 60px;
  }
}