@import '../../styles/variables.scss';

.header {
  align-items: center;
  background-color: $blackgrey;
  color: $white;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  padding: 0 10px;
}

.title {
  font-size: 1.5em;
  margin: 10px auto;
}

.controlscontainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 100%;
}

.button {
  background: $header-button-grey;
  border: 1px solid $header-button-grey;
  border-radius: 2px;
  color: $white;
  cursor: pointer;
  font-size: 18px;
  margin: 0 4px;
  outline: none; /* replaced with boxshadow */
  padding: 2px 10px;
}

.buttonplay:hover,
.buttonstop:hover {
  background: $header-button-hover;
  border: 1px solid $header-button-hover;
}

.buttonplay:focus,
.buttonstop:focus {
  box-shadow: 0 0 10px $mediumgrey;
}

.buttonplay:active {
  box-shadow: 0 0 10px $gold-light;
  color: $gold-light;
}

.buttonstop:active {
  box-shadow: 0 0 10px $red;
  color: $red;
}

.label,
.buttontext {
  color: white;
  position: absolute;
  transform: translateX(100vw);
  /* Buttons use an icon visually, pushing text off screen */
}

.input:focus,
.input:hover,
.select:focus,
.select:hover {
  box-shadow: 0 0 10px $gold-light;
  background: $gold-light;
}

.input {
  background: $white;
  border: none;
  border-radius: 2px;
  color: $blackgrey;
  font-size: 14px;
  margin-right: 5px;
  text-align: center;
  width: 80px;
}

.select {
  background: $white;
  border: none;
  color: $blackgrey;
  font-size: 14px;
  margin-left: 20px;
}

@media (min-width: 430px) {
  .controlscontainer {
    width: 80%;
  }
}

@media (min-width: 650px) {
  .header {
    flex-direction: row;
    height: 70px;
  }

  .title {
    font-size: 2em;
    margin: 20px 0;
  }

  .controlscontainer {
    justify-content: space-between;
    margin: 0;
    width: inherit;
  }

  .buttoncontainer {
    margin-right: 50px;
  }
}

