@import "../../styles/variables.scss";

.VolumeButton {
  background: $darkgrey;
  border: 1px solid transparent;
  border-radius: 13px;
  color: $white;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 14px;
  height: 26px;
  margin: 0 2px;
  outline: none; /* replaced with boxshadow */
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 26px;

  /* Had a difficult time getting icon to center in button */
  /* This was my work around */
  align-items: center;
  display: flex;
  justify-content: center;
}

.VolumeButton:hover {
  background: $vol-button-hover;
}

.VolumeButton:focus {
  box-shadow: 0 0 10px $mediumgrey;
}

.icon {
  /* Had a difficult time getting icon to center in button */
  /* This was my work around */
  align-items: center;
  display: flex;
  height: 24px;  //minus 2px for the border
  justify-content: center;
  width: 24px;
}

.icon::before {
  /* Had a difficult time getting icon to center in button */
  /* This was my work around */
  width: 14px;
}

.text.muted,
.text {
  color: white;
  position: absolute;
  text-indent: -9999px;
}

.muted,
.muted:focus {
  box-shadow: 0 0 10px $red;
  color: $red;
}

.incrementmagenta:active {
  box-shadow: 0 0 10px $magenta-light;
  color: $magenta-light;
}

.incrementgold:active {
  box-shadow: 0 0 10px $gold-light;
  color: $gold-light;
}

.incrementteal:active {
  box-shadow: 0 0 10px $teal-light;
  color: $teal-light;
}

.incrementgreen:active {
  box-shadow: 0 0 10px $green-light;
  color: $green-light;
}

.incrementblue:active {
  box-shadow: 0 0 10px $blue-light;
  color: $blue-light;
}

.incrementorange:active {
  box-shadow: 0 0 10px $orange-light;
  color: $orange-light;
}

.incrementcherry:active {
  box-shadow: 0 0 10px $cherry-light;
  color: $cherry-light;
}

.incrementpurple:active {
  box-shadow: 0 0 10px $purple-light;
  color: $purple-light;
}