@import '../../styles/variables.scss';

.footer {
  align-items: center;
  background-color: $blackgrey;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin: 0
}

.container {
  align-items: center;
  display: flex;
  margin: 3px auto;
}

.copyright {
  background-color: $blackgrey;
  margin-right: 10px;
}

.footer a,
.image {
  height: 18px;
}