.Instrument {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.Instrument__controls {
  width: 25%;
}

.Instrument ul {
  flex-grow: 1;
  justify-content: space-between;
}

.Instrument__volume-controls {
  width: 10%;
}