.Instrument {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.Instrument h1 {
  width: 25%;
}

.Instrument ul {
  flex-grow: 1;
  justify-content: space-between;
}