/* Colors */

$magenta-dark: rgb(80, 30, 70);
$magenta-light: rgb(215, 40, 170);
$magenta-light-transparent: rgba(215, 40, 170, .8);

$gold-dark: rgb(65, 45, 15);
$gold-light: rgb(215, 155, 50);
$gold-light-transparent: rgba(215, 155, 50, 0.8);

$teal-dark: rgb(12, 60, 60);
$teal-light: rgb(45, 200, 200);
$teal-light-transparent: rgba(45, 200, 200, .8);

$green-dark: rgb(25, 60, 30);
$green-light: rgb(50, 205, 55);
$green-light-transparent: rgba(50, 205, 55, .8);

$white: #Dee5e5;

/* main background & header button background */
$blackgrey: rgb(23, 24, 26);
/* header background */
$darkgrey: rgb(34, 36, 38);

/* main background*/
$mediumgrey: #DDDDDD;

$red: #db5461;