@import "../variables.scss";

.VolumeButton {
  background: $darkgrey;
  border: 1px solid transparent;
  border-radius: 13px;
  color: $white;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 14px;
  height: 26px;
  outline: none; /* replaced with boxshadow */
  overflow: hidden;
  width: 26px;
}

.VolumeButton:hover {
  background: $vol-button-hover;
}

.VolumeButton:focus {
  box-shadow: 0 0 10px $mediumgrey;
}

.text.muted,
.text {
  color: white;
  position: absolute;
  transform: translateX(100vw);
}

.muted,
.muted:focus {
  box-shadow: 0 0 10px $red;
  color: $red;
}

.incrementKick:active {
  box-shadow: 0 0 10px $magenta-light;
  color: $magenta-light;
}

.incrementSnare:active {
  box-shadow: 0 0 10px $gold-light;
  color: $gold-light;
}

.incrementOpenHat:active {
  box-shadow: 0 0 10px $teal-light;
  color: $teal-light;
}

.incrementClosedHat:active {
  box-shadow: 0 0 10px $green-light;
  color: $green-light;
}
