@import "../../styles/variables.scss";

.FramePattern {
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 800px) {
  .FramePattern {
    width: inherit;
  }
}