.Footer {
  align-items: center;
  background-color: black;
  display: flex;
  height: 30px;
  justify-content: center;
  margin: 0
}

.Footer__container {
  height: 30px;
}

.Footer__copyright {
  background-color: black;
}

.Footer__image--github {
  height: 20px;
}