@import '../variables.scss';

.Sequence {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0 10px;
}

.Sequence__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.Sequence__header h2 {
  width: 25%;
}

.Sequence__header-list {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.Sequence__header li {
  background-color: $darkgrey;
  border: 2px solid $darkgrey;
  flex-basis: 0; /* grow the elements equally, ignoring content size */
  flex-grow: 1;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  margin: 1px;
  padding: 0;
  text-align: center;
  transition: all .2s linear;
}

li.Sequence__current {
  background-color: #Dee5e5;
  border: 2px solid #Dee5e5;
  box-shadow: 0 0 10px #Dee5e5;
  color: black;
}

.Sequence__instrument-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

@media (min-width: 650px) {
  .Sequence__header h2 {
    font-size: 30px;
  }
}