@import '../variables.scss';

.Sequence {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  overflow-x: hidden;
  padding: 0 10px;
}

.Sequence__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.Sequence__title {
  margin: 10px auto;
}

.Sequence__header-list {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0 auto 30px;
  width: 100%;
}

.Sequence__header-item {
  background-color: $darkgrey;
  border: 2px solid $darkgrey;
  flex-basis: 0; /* grow the elements equally, ignoring content size */
  flex-grow: 1;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  margin: 1px;
  padding: 0;
  text-align: center;
  transition: all .2s linear;
}

.Sequence__header-item--current {
  background-color: $white;
  border: 2px solid $white;
  box-shadow: 0 0 10px $white;
  color: black;
}

.Sequence__instrument-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

@media (min-width: 800px) {
  .Sequence__header {
    flex-direction: row;
  }

  .Sequence__title {
    font-size: 30px;
    width: 25%;
  }

  .Sequence__header-list {
    margin: 16px 0;
    width: inherit;
  }

  .Sequence__header-item {
    font-size: 18px;
    height: 40px;
    line-height: 40px;
  }
}