@import '../../styles/variables.scss';

.Loop {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  margin-top: 80px;
  overflow-x: hidden;
  padding: 0 10px;
}

.header {
  align-items: center;
  background-color: $charcoal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  position: fixed;
  top: 80px;
  width: calc(100% - 20px);
  z-index: 1;
}

.title {
  margin: 10px auto;
}

.headerlist {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.headeritem {
  background-color: $darkgrey;
  border: 2px solid $darkgrey;
  flex-basis: 0; /* grow the elements equally, ignoring content size */
  flex-grow: 1;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  margin: 1px;
  padding: 0;
  text-align: center;
  transition: all .2s linear;
}

.current {
  background-color: $white;
  border: 2px solid $white;
  box-shadow: 0 0 10px $white;
  color: black;
}

.sequencelist {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.button {
  background: rgba(0, 0, 0, 0);
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: bold;
  height: 28px;
  line-height: 14px;
  margin: 5px 0;
}

.button:active {
  background: $gold-light-transparent;
  color: $blackgrey;
}

@media (min-width: 800px) {
  .header {
    flex-direction: row;
    top: 70px;
  }

  .title {
    font-size: 30px;
    max-width: 250px;
    padding-right: 50px;
    width: 25%;
  }

  .headerlist {
    margin: 16px 0;
    width: 75%;
  }

  .headeritem {
    font-size: 18px;
    height: 40px;
    line-height: 40px;
  }
}

@media (min-width: 1000px) {
  .Loop {
    margin: 80px auto 0;
    padding: 0;
    width: 80%;
  }

  .header {
    width: 80%;
  }
}